.sider {
  width: 300px;
  background-color: #93afea;
  padding: 12px;
  padding-top: 24px;
  position: relative;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding-bottom: 40px;
  overflow: auto;
}

.title {
  font-size: 32px;
  margin-bottom: 4px;
  font-weight: bold;
}

.desc {
  display: block;
  font-size: 16px;
  margin-bottom: 24px;
}

.img {
  margin: 0 auto;
  display: block;
  margin-bottom: 8px;
}

.tips {
  font-size: 14px;
  line-height: 16px;
  color: #2e2525;
  font-weight: bold;
  text-align: justify;
}

.tips1 {
  @extend .tips;
  margin-bottom: 24px;
}

.tips2 {
  @extend .tips;
  margin-bottom: 32px;
}

.button {
  margin-top: 30px;
  width: 100%;
}

.sider :global {
  .ant-form-item {
    margin-bottom: 16px;
  }
  .ant-form-item-label {
    label {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .ant-input-number {
    width: 100%;
  }
}
